
html, body {
  height: 100%;
  width: 100%;
}
HTML > body
{background:lightgrey}
span
  border: 8px solid #4F5D75;
  padding: 10px;

<body>

/*button*/
    button {
        font-size:50px;
  
    }





https://replit.com/@nourabb555/NEA#infopage.html, body {font-size:50px}
